@import './_common.scss';

html {
  touch-action: manipulation;
}

body, button, input {
  font-family: Avenir, system, sans-serif;
}

a, u {
  text-decoration: none;
}

@import './layout.scss';
@import './watches.scss';

