@import './_common.scss';

html {
  touch-action: manipulation;
}

body {
  font-family: Avenir, system, sans-serif;
}

a, u {
  text-decoration: none;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 15em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}


#app {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  min-width: 200px;

  @include flex-fill(column);
}


.watches {
  .list {
    padding-top: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    align-content: flex-start;
  }
}

.watch {
  position: relative;
  flex: 0 0 250px;
  height: 300px;
  margin: 10px;

  .images {
    @include absolute-cover();
    // min-height: 100;
  }

  .image {
    @include absolute-cover();
    background-position: center;
    background-size: cover;

    &.secondary {
      opacity: 0;
    }
  }

  h3 {
    position: absolute;
    bottom: 0;
    margin: 0;
    color: black;
    font-size: 0.7em;
    font-weight: 200;
    background-color: white;
    padding: 0.3em;
    width: 100%;
    text-align: center;
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8);
  }

  .price,
  &.sold:before {
    position: absolute;
    font-weight: 500;
    letter-spacing: 0.2em;
    padding: 0.7em;
    font-size: 0.7em;
    right: 0;
    top: 0;
    -webkit-backdrop-filter: blur(10px);
    content: 'SOLD';
    z-index: 2;
  }

  .price {
    color: black;
    background: rgba(255, 255, 255, 0.8);
    z-index: 3;
  }

  &.sold {
    .price,
    &:before {
      color: white;
      background: rgba(0, 0, 0, 0.8);
    }

    .price {
      text-decoration: line-through;
    }

    &:hover {
      .price {
        z-index: -1;
      }
    }
  }

  &:hover {
    .image.secondary {
      opacity: 1;
    }
  }
}
