@import './_common.scss';

html {
  touch-action: manipulation;
}

body, button, input {
  font-family: Avenir, system, -apple-system, BlinkMacSystemFont, ".SFNSDisplay-Regular", 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica,  Arial, sans-serif;
}

a, u {
  text-decoration: none;
}

@import './layout.scss';
@import './watches.scss';

